/* 
    Created on : 20/04/2022, 21:26:45
    Author     : Marvin Larios
*/

#panel-navegacion {
    -fx-background-color: #0A0B37;
}

#pane-entidad {
    -fx-background-color: #C8C8D2;
    -fx-background-radius: 0 0 50 50;
}

.botones-crud {
    -fx-background-color: #0A0B37;
    -fx-text-fill: #FFFFFF;
}

.botones-crud:hover {
    -fx-background-color: #E7E7E7;
    -fx-text-fill: #000000;
}

#vbox-crud {
    -fx-background-color:  #0A0B37
}